{{$Name := .Name}}
{{$Def := .Definition}}
{{$Doc := .Document}}
{{range .Definition.Links}}
  {{if .Schema}}
   type {{printf "%s-%s-Opts" $Name .Title | initialCap}} {{linkType $Doc .}}
  {{end}}

  {{asComment .Description}}
  func (s *Service) {{printf "%s-%s" $Name .Title | initialCap}}({{params $Doc .}}) ({{values $Doc .}}) {
    {{if .TargetSchema}}
      {{$Var := initialLow $Name}}var {{$Var}} {{targetType $Doc .}}
      return {{if $Def.IsCustomType}}&{{end}}{{$Var}}, s.Do(&{{$Var}}, "{{.Method}}", fmt.Sprintf("{{.HRef}}", {{args .HRef}}), nil, nil)
    {{else}}
      return s.Do(nil, "{{.Method}}", fmt.Sprintf("{{.HRef}}", {{args .HRef}}), nil, nil)
    {{end}}
  }
{{end}}

